<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
  <% if(user !== undefined) {%>
    <button><a href="/urls/new">Register New URL</a></button>
    <% for(var url in urls){ %>
      <% if(urls[url].user_id === user.id){ %>
        <li><%= url %> -> <a href="/u/<%=url%>"><%=urls[url].long_URL%></a></li>
        <button><a href="/urls/<%=url%>">Edit</a></button>
        <form action="/urls/<%=url%>/delete" method="POST">
          <input type="submit" value="Delete">
        </form>
      <% } %>
    <% } %>
  <% } %>
</body>
</html>